@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 275px 1fr;
}

header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 55px 80px;
  padding: 1rem 1rem 1rem 3rem;
  grid-column: 2 / 9;
}

header > .search-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

header > .search-container > [type="search"] {
  width: 70%;
  border-radius: 80px;
  background-color: #cbd5e1;
  border: none;
  padding: 5px;
}

header > .profile-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

header > .profile-container > .profile {
  height: 45px;
  border-radius: 100%;
}

header > .welcome-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

header > .welcome-container > .welcome-profile {
  height: 65px;
  border-radius: 100%;
}

header > .welcome-container > .greetings > p:nth-of-type(1) {
  font-size: 1rem;
}

header > .welcome-container > .greetings > p:nth-of-type(2) {
  font-size: 1.8rem;
  font-weight: 600;
}

header > .buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

header > .buttons-container > button {
  height: 40px;
  width: 110px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 50px;
  grid-column: 1;
  grid-row: 1 / -3;
  padding: 1.2rem 2rem 1.2rem 1.2rem;
  padding: 0;
  padding: 1rem 2.5rem 1rem 1rem;
  background-color: #7dd3fc;
}

.sidebar > .sidebar-site-navigation > ul, .sidebar > .sidebar-site-settings > ul {
  padding: 0;
  list-style-type: none;
}

.sidebar > .sidebar-site-navigation > ul > li, .sidebar > .sidebar-site-settings > ul > li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.sidebar > .sidebar-site-navigation > ul > li > i, .sidebar > .sidebar-site-settings > ul > li > i {
  font-size: 1.3rem;
  width: 20px;
  align-self: center;
}

.sidebar > .sidebar-site-navigation > ul > li > a, .sidebar > .sidebar-site-settings > ul > li > a {
  text-decoration: none;
  padding: 10px;
  font-size: 1.3rem;
}

main {
  grid-column: 2;
  height: 100vh;
  background-color: #e5e5e5;
  padding: 20px;
}

.project-card {
  display: grid;
  grid-template-columns: 10px 1fr;
  background-color: #f9fafb;
  height: 250px;
  width: 400px;
  border-radius: 15px;
}

.project-card > .card-color {
  grid-row: 1 / span 3;
  background-color: orange;
  border-radius: 15px 0 0 15px;
}

.project-card > .card-info {
  padding: 2.5rem 1rem 1rem 1rem;
}

.project-card > .card-info > .card-title {
  font-size: 1.2rem;
  font-weight: 800;
}

.project-card > .card-info > .card-description {
  font-size: 1rem;    
}

.project-card > .card-btns {
  display: flex;
  gap: 35px;
  font-size: 1.2rem;
  align-self: center;
  justify-self: flex-end;
  padding: 1rem;
}